{{#with pages.login}}
  <div class='login__root'>
    <h1 class='login__title'>{{title}}</h1>
    {{> form context='login' }}
    <a href='/signup.html' class='login__link'>{{linkTitle}}</a>
  </div>
{{/with}}
