@import url('/css/uikit.css');

.chat {
    &__root {
        --sidebar-width: 310px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }

    &__header {
        padding: var(--spacing-m);
        display: flex;
        justify-content: space-between;
        align-items: center

    }

    &__title {
        @mixin typography_title_1;
        
    }
    &__form {
        height: auto;
        padding: 0 var(--spacing-m);
    }

    &__sidebar {
        width: var(--sidebar-width);
        border-right: 1px solid var(--color-separator);
        height: 100%;
    }

    &__link {
        @mixin typography_text_primary;

    }

    &__placeholder {
        @mixin typography_text_secondary;
        margin: auto;
    }
}
