.counter {
  &__root {
    --size: 20px;

    @mixin typography_footnote_accent;

    min-width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-bg-accent);
    line-height: var(--size);
    text-align: center;
  }
}
