@import url('../../mixins/index.css');

.profile {
    &_root {
        @mixin centered;
        @mixin card;

        display: flex;
        width: 375px;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    &_title {
        @mixin typography_title_1;

        margin-bottom: var(--spacing-xxxl);

    }

    &_avatar {
        position: relative;
        width: 100px;
        height: 100px;
        margin: var(--spacing-xxxl) 0;

        &::after {
            @mixin typography_text_accent;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            text-align: center;
            content: attr(data-text-avatar);
            background-color: var(--color-bg-dropdown);
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.5s;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    &_avatar-image {
        border-radius: 50%;

        width: 100%;
        height: 100%;

    }

    &_data {
        margin: var(--spacing-xxxl) 0;
    }

    &_button {
        @mixin button_mode_primary;
        margin-top: var(--spacing-l);
    }

    &_button--destructive {
        border-color: var(--color-error);
        color: var(--color-error);
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &_submit {
        @mixin button_mode_primary;
    }

    &__error {
        @mixin typography_footnote;
        color: var(--color-error)
    }
}