@import url("../../css/uikit.css");

.chatPreview {
  &__root {
    height: 64px;
    padding: var(--spacing-m);
  }

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: var(--spacing-xl);
    background-color: var(--color-bg-secondary);
    float: left;
  }

  &__rows {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-s);
  }

  &__title {
    @mixin typography_title_2;
  }

  &__subtitle {
    @mixin typography_text_secondary;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__last {
    @mixin typography_footnote_secondary;
  }
}
