@import url("../../css/uikit.css");

.optionsMenu {
  &__root {
    @mixin card;

    position: absolute;
    top: 48px;
    right: 4px;
    display: flex;
    height: fit-content;
    flex-direction: column;
  }

  &__item {
    padding: var(--spacing-xl) var(--spacing-l);
  }
}
