.fileUploader {
  &__title {
    @mixin button_mode_accent;

    display: inline-block;
  }

  input[type="file"] {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
