.dataView {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: var(--spacing-xl);
    column-gap: var(--spacing-xxl);

    &__label {
        font-weight: 600;
        text-align: end;
    }

    &__value {
        color: var(--color-text-secondary);
    }
}
