@define-mixin centered {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@define-mixin card {
  border-radius: 12px;
  box-shadow: 0 0 10px var(--color-shadow);
}

@define-mixin button {
  border-radius: 24px;
  cursor: pointer;
}

@define-mixin button_mode_primary {
  @mixin button;
  @mixin typography_text_primary;

  background: var(--color-bg-white);
  font-weight: 600;
}

@define-mixin button_mode_accent {
  @mixin button;
  @mixin typography_text_accent;
  padding: var(--spacing-xl);

  background: var(--gradient-primary);
}
