@import url("../../css/uikit.css");

.chatView {
  &__root {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__bar {
    display: flex;
    align-items: center;
    padding: var(--spacing-xl) var(--spacing-xxl);
  }

  &__bar_position_top {
    border-bottom: 1px solid var(--color-separator);
  }

  &__bar_position_bottom {
    border-top: 1px solid var(--color-separator);
  }

  &__title {
    @mixin typography_title_2;
  }

  &__button {
    margin-left: auto;
    cursor: pointer;
  }

  &__messages {
    padding: var(--spacing-xxl) var(--spacing-xl);
    margin-top: auto;
  }

  &__date {
    @mixin typography_text_secondary;

    margin-bottom: var(--spacing-m);
    text-align: center;
  }

  &__message {
    width: fit-content;
    max-width: 50%;
    padding: var(--spacing-m);
    border-radius: 4px;
  }

  &__message_side_left {
    margin-right: auto;
    background-color: var(--color-bg);
  }

  &__message_side_right {
    margin-left: auto;
    background-color: var(--color-bg-tertiary);
  }

  &__form {
    gap: var(--spacing-m);
  }

  &__input {
    --radius: 16px;

    height: 100%;
    max-height: 300px;
    flex: 1;
    padding: var(--radius);
    border-radius: var(--radius);
    background-color: var(--color-bg-secondary);
  }

  &__send {
    @mixin button_mode_accent;
  }
}
