@import url("../../css/uikit.css");

.signup {
  &__root {
    @mixin card;

    position: absolute;
    top: 50%;
    right: 50%;
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    transform: translate(50%, -50%);
  }

  &__title {
    @mixin typography_title_1;

    margin: var(--spacing-xxl) 0;
  }

  &__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    margin-top: var(--spacing-xxl);
    gap: var(--spacing-xl);
  }

  &__submit {
    @mixin button_mode_accent;

    margin-top: var(--spacing-xxl);
  }

  &__link {
    @mixin typography_text_primary;

    margin-top: var(--spacing-xxl);
  }
}
