{{#with pages.signup}}
  <div class='signup_root'>
    <h1 class='signup_title'>{{title}}</h1>

    {{> form context='signup' }}

    <a href='/index.html' class='signup_link'>{{linkTitle}}</a>
  </div>
{{/with}}
