{{#with pages.signup}}
  <div class='signup__root'>
    <h1 class='signup__title'>{{title}}</h1>
    {{> form context='signup' }}
    <a href='/index.html' class='signup__link'>{{linkTitle}}</a>
  </div>
{{/with}}
